<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8" />
<title>Day 1 of Angular</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="mainCtrl">
<h1>{{message}}</h1>
<p>Angular is an MVC Framework</p>
<p>M = Model</p>
<p>V is for View</p>
<p>C means controller</p>  
1. Mark a to do as done
2. Delete a to do<ul>
<li ng-repeat="todo in todos">
<p>{{todo.title}}</p>
<p>{{todo.status}}</p>
<button ng-click="delete($index)">Delete</button>
<button ng-click="done($index)">Completed</button>
</li>
</ul><input ng-model="newToDo" />
<button ng-click="addToDo(newToDo)">Add Todo</button>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="app.js"></script>
</body>
</html>